.App {
  display: flex;
  flex-direction: row;
}
.send-form, .process-form {
  margin: 50px;
  display: flex;
  flex-direction: column;
  width: 800px;
}
.field {
}
.field-container {
  margin-bottom: 20px;
  display: inline-flex;
}
.separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
.button {
  width: 100px;
  height: 40px;
}
.params {
  display: flex;
  justify-content: space-between;
}
.processed-template {
  margin-top: 20px;
  font-style: italic;
}